*{
	font-family: "Microsoft YaHei","sans-serif";
	margin: 0;
	padding: 0;
}

#admin_upload{
	margin-top: 90px;
	font-size: 14px;
}

#localImag{
	width: 200px;
	height: 200px;
	border: 1px solid #ccc;
	margin: 0 auto;
}

#localForm{
	position: relative;
	width: 250px;
	margin: 0 auto;
}

#localError{
	position: absolute;
	top: -50px;
	left: 75px;
	border: 1px solid #CCC;
	color: #C81522;
	background-color: #F8E0A0;
	padding: 5px;
	opacity: 0;
	transition: opacity 0.5s;
}
