*{
	font-family: "Microsoft YaHei","sans-serif";
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #56A4E9;
}

a{
	text-decoration: none;
}

a:hover{
	color: #317EAC;
}

#admin_allOrder{
	padding: 20px 20px;
	font-size: 14px;
}

#admin_allOrder .dataTable{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 40px;
	margin-top: 10px;
}

#admin_allOrder .dataTable tr td{
	text-align: center;
}

#admin_allOrder .dataTable,#admin_allOrder .dataTable th,#admin_allOrder .dataTable td{
	border: 1px solid #DDD;
}

#admin_allOrder .dataTable tr:nth-child(2n){
	background-color: #F9F9F9;
}

#admin_allOrder .txt{
	color: #000;
}

#admin_allOrder .search{
	width: 100px;
	cursor: pointer;
}

#page{
	text-align: center;
	margin-top: 10px;
	letter-spacing: 5px;
	color: #BBB;
}

#page a{
	color: #56A4E9;
}

#page a:hover{
	color: #317EAC;
}

