*{
	font-family: "Microsoft YaHei","sans-serif";
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #56A4E9;
}

a{
	text-decoration: none;
}

a:hover{
	color: #317EAC;
}

#admin_mymessage{
	padding: 20px 20px;
	font-size: 14px;
}

#admin_mymessage h2{
	color: #317EAC;
}

#admin_mymessage .ytable{
	max-height: 862px;
	overflow: hidden;
}

#admin_mymessage .dataTable{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 40px;
	margin-top: 10px;
}

#admin_mymessage .dataTable tr:first-child th:first-child{
	width: 50px;
}

#admin_mymessage .dataTable tr:first-child th:nth-child(2){
	width: 150px;
}

#admin_mymessage .dataTable tr td{
	text-align: center;
}

#admin_mymessage .dataTable tr:first-child th:nth-child(3){
	width: 150px;
}

#admin_mymessage .dataTable tr:first-child th:nth-child(4){
	width: 300px;
}

#admin_mymessage .dataTable tr:first-child th:last-child{
	width: 32px;
}

#admin_mymessage .dataTable tr:nth-child(2n){
	background-color: #F9F9F9;
}

#admin_mymessage .dataTable,#admin_mymessage .dataTable th,#admin_mymessage .dataTable td{
	border: 1px solid #DDD;
}

#admin_mymessage .btn{
	width: 150px;
	font-size: 18px;
	margin: 10px 0px;
	cursor: pointer;
}

#admin_mymessage .txt{
	color: #000;
}

#admin_mymessage .search{
	width: 100px;
	cursor: pointer;
}

#page{
	text-align: center;
	letter-spacing: 5px;
	color: #BBB;
}

#page a{
	color: #56A4E9;
}

#page a:hover{
	color: #317EAC;
}
