*{
	font-family: "Microsoft YaHei","sans-serif";
	margin: 0;
	padding: 0;
	list-style-type: none;
	color: #56A4E9;
}

a{
	text-decoration: none;
}

a:hover{
	color: #317EAC;
}

#admin_serviceTop{
	padding: 20px 20px;
	font-size: 14px;
}

#admin_serviceTop .dataTable{
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	line-height: 40px;
	margin-top: 10px;
}

#admin_serviceTop .dataTable tr td{
	text-align: center;
}

#admin_serviceTop .dataTable,#admin_serviceTop .dataTable th,#admin_serviceTop .dataTable td{
	border: 1px solid #DDD;
}

#admin_serviceTop .dataTable tr:nth-child(2n){
	background-color: #F9F9F9;
}
